[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm
[submodule "modules/dt"]
	path = modules/dt
	url = https://github.com/arnal/dt
[submodule "system"]
	path = system
	url = https://github.com/kohana/core
[submodule "modules/arnal"]
	path = modules/arnal
	url = https://github.com/arnal/core.git
[submodule "modules/yaml"]
	path = modules/yaml
	url = https://github.com/gevans/kohana-yaml
[submodule "modules/admin"]
	path = modules/admin
	url = git@github.com:arnal/admin.git
[submodule "modules/twitter-bootstrap"]
	path = modules/twitter-bootstrap
	url = https://github.com/burningtree/kohana-twitter-bootstrap.git
